body{
	background: url(/static/image/login_bg0.jpg) no-repeat;
	background-size: cover;
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.login_box{
	position: absolute;
	left: 15%;
	top: 20%;
	width: 380px;
	height: 540px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	background-color: rgba(255,255,255,0.91);
	-webkit-box-shadow: #999 0 2px 10px;
	box-shadow: #999 0 2px 10px;
	text-align: center;
}

.login_box h1{
	font-size: 40px;
	font-weight: bold;
}

.login_box input{
	display: block;
	width: 70%;
	height: 34px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
	position:relative;
	top:15%;
	margin: 15px;
	margin-left: 12%;
}

.login_box .inputname{
	width: 75%;
	height: 10%;
}

.login_box .inputpassword{
	width:75%;
	height:10%;
}

.login_box button{
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	width: 35%;
	margin: 8px;
	height: 10%;
	position: absolute;
	top:75%;
}
#loginbutton{
	position:absolute;
	left: 10%;
}


.login_box button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}


.room_box{
	position: absolute;
	border-radius: 5px;
	top:20%;
	left: 45%;
	height: 540px;
	width: 800px;
	background-color: rgba(255,255,255,0.91);
	text-align: center;
	font-size: 25px;
}

.room_box img{
	position: absolute;
	left: 0px;
	max-width: 100%;
	border-radius: 5px;
}

.room_box .list-group{
	position:absolute;
	top:36%;
	width: 100%;
	padding: 5px;
}

.room_box .badge{
	font-size: 20px;
}

#mask{
	position: absolute;
	width: 100%;
	height: 100%;
	top : 0px;
	left: 0px;
	background-color: #444444;
	display: none;
	opacity: 0.8;
	z-index: 1;
}

#regbox{
	position:absolute;
	display: none;
	z-index: 2;
	background-color: rgba(255,255,255,0.91);
	left:20%;
	top:30%;
	border-radius: 5px;
	padding:10px;
	width: 60%;
	height:40%;
}
#regbox input{
	width:30%;
}

.chooseicon{
	position: absolute;
	width: 50%;
	height: 100%;
	left: 40%;
	top: 0%;
}
.iconbox{
	position:absolute;
	width: 18%;
	padding:2px;
	background-color: white;
	overflow: hidden;
}
.iconbox img{
	width: 100%;
	cursor: pointer;
}
#regbox button{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	position: absolute;
	top:85%;
}
#regbox button:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
#confirm{
	left:75%;
}
#cancel{
	left:85%;
}