.gobang_container{
	position: fixed;
}

body{
	background: #3f5c93;
}

.player_pic{
	position: absolute;
}

.player{
	border-radius: 2px;
	position: absolute;
	background: #dcbea5;
}

.player_info{
	position:absolute;
	font-family: "Microsoft YaHei";
	font-size: 20px;
}

.chatroom{
	border-radius: 2px;
	position: absolute;
	background: #dcbea5;
}

.chat_contents{
	overflow: auto;
}

.user_info{
	border-radius: 2px;
	position: absolute;
	background: #dcbea5;
}

.gobang_container ul{
	list-style: none;
}

.checkerboard{
	position:absolute;
	top:0px;
	margin: 0px, auto;
	padding: 0px;
}

.checkerboard_img{
	position:absolute;
	top:0px;
	left:0px;
}

.pieces{
	margin: 0px;
	padding: 0px;
	position:absolute;
	top: 0px;
	left: 0px;
}

.piece{
	position:absolute;
}

.myButton {
	-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Microsoft YaHei";
	font-size:15px;
	text-align: center;
	padding:6px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	position: absolute;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
	background-color:#415989;
}

.sendButton {
	position: absolute;
	width: 20%;
	height: 30px;
	right: 5px;
	bottom: 5px;
	padding: 0px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dcbea5));
	background:-moz-linear-gradient(top, #ededed 5%, #dcbea5 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dcbea5 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dcbea5 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dcbea5 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dcbea5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dcbea5',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcbea5;
	display:inline-block;
	cursor:pointer;
	color:#bf8454;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	text-align: center;
}
.sendButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dcbea5), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dcbea5 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dcbea5 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dcbea5 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dcbea5 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dcbea5 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcbea5', endColorstr='#ededed',GradientType=0);
	background-color:#dcbea5;
}

#messageInput{
	position:absolute;
	left: 5px;
	bottom: 5px;
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 0px;
	height: 30px;
	font-size: 15px;
	width: 65%;
	color:#060;
	outline: none; 
	background: #edcfb6
}
