<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>五子棋</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/image/gobang_icon.ico" media="screen" />
	<script src="/static/js/jquery-2.1.4.min.js"></script>
	<script src="/static/js/javascript_gobang.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style_gobang.css">
	<script>

	</script>
</head>
<body>
	<div class="gobang_container">
		<div class="player1 player">
			<img class="player1_pic player_pic"/>
			<div class="player1_info player_info">
				<div class="player1_name">
				</div>
				<div class="player1_turntime">
				</div>
			</div>
		</div>
		<div class="player2 player">
			<img class="player2_pic player_pic"/>
			<div class="player1_info player_info">
				<div class="player2_name">
				</div>
				<div class="player2_turntime">
				</div>
			</div>
		</div>
		<div class="checkerboard"  >
			<img  onclick="addPiece()" class="checkerboard_img" src="/static/image/gobang_checkerboard.png"/>
			<ul class="pieces">
			</ul>
			<a id="start_button" href="#" class="myButton">开始</a>
			<a id="draw_button"href="#" class="myButton">求和</a>
			<a id="pause_button" href="#" class="myButton">暂停</a>
			<a id="giveup_button"href="#" class="myButton">认输</a>
		</div>
		<div class="user_info">
			<p class="user_name">昵称：</p>
			<p class="user_info_win_num">胜：</p>
			<p class="user_info_tie_num">平：</p>
			<p class="user_info_lose_num">负：</p>
			<p class="user_info_win_rate">胜率：</p>
		</div>
		<div class="chatroom">
			<ul class="chat_contents">
			</ul>
			<input type='text' id='messageInput'  placeholder='输入聊天内容'>
			<a href="#" class="sendButton">发送</a>
		</div>
		
	</div>

	<script type="text/javascript">
        var player_1 = {{ player_1|safe }};
        var player_2 = {{ player_2|safe }};
        console.log(player_1);
        console.log(player_2);
	    load_player_data();
		init_gobang();
	</script>
</body>
</html>