<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel='stylesheet' type='text/css' href='/static/css/bootstrap.min.css'>
		<link rel="stylesheet" type="text/css" href="/static/css/login.css">
		<title>五子棋传奇·霸业</title>
		<script src='/static/js/jquery-2.1.4.min.js'></script>
		<script src='/static/js/login.js'></script>
	</head>
	<body>
        <script type="text/javascript">
            function login() {
                document.login_form.action = "/login/";
                document.login_form.submit();
            }

            function register() {
                document.register_form.action = "/register/";
                document.register_form.submit();
            }
        </script>
		<div class='login_box'>
			<h1>请先登录</h1>
            <form name="login_form" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="button" value="登录" onclick="login()" />
                <input type="button" value="注册" id="regbutton" />
            </form>
		</div>
		<div class='room_box'>
			<img src='/static/image/login_logo.gif'>
			<div class='list-group'>
				<a href='#' class='list-group-item'>传奇爸业1房<span class='badge'>0人</span></a>
				<a href='#' class='list-group-item'>传奇爸业2房<span class='badge'>0人</span></a>
				<a href='#' class='list-group-item'>雷霆知怒1房(无禁手)<span class='badge'>0人</span></a>
				<a href='#' class='list-group-item'>雷霆知怒2房(无禁手)<span class='badge'>0人</span></a>
			</div>
		</div>
		<div id='mask'></div>
		<div id='regbox'>
            <form name="register_form" method="get">
			    <div class='form-group'>
				    <lable for='createuser'>用户名:</lable>
				    <input class='form-control' id='createuser' placeholder = 'username' name="reg_user">
			    </div>
			    <div class='form-group'>
				    <lable for='createpassword'>密码：</lable>
				    <input type='password' class='form-control' id='createpassword' placeholder='password' name="reg_password">
			    </div>
			    <div class='form-group'>
				    <lable for='createpassword1'>再输入一次密码：</lable>
				    <input class='form-control' id='createpassword1' placeholder='password agian' name="reg_password_again">
			    </div>
                <div class="form-group">
                    <lable for='createpassword1'>设置你的昵称：</lable>
				    <input class='form-control' id='createname' placeholder='nickname' name="reg_name">
                </div>
			    <div class='chooseicon'>
				    <lable>请选择一个头像:</lable>
				    <div class='iconbox'>
					    <img src="/static/image/login_lzc1.jpg">
				    </div>
				    <div class='iconbox'>
					    <img src="/static/image/login_lzc2.jpg">
				    </div>
				    <div class='iconbox'>
					    <img src="/static/image/login_zwj1.jpg">
				    </div>
				    <div class='iconbox'>
					    <img src="/static/image/login_zwj2.jpg">
				    </div>
				    <div class='iconbox'>
					    <img src="/static/image/login_hrxd.jpg">
				    </div>
				    <div class='iconbox'>
					    <img src="/static/image/login_zf.jpg">
				    </div>
				    <div class='iconbox'>
				    	<img src="/static/image/login_qz.jpg">
				    </div>
				    <div class='iconbox'>
					    <img src="/static/image/login_gxd1.jpg">
				    </div>
				    <div class='iconbox'>
					    <img src="/static/image/login_gxd2.jpg">
				    </div>
				    <div class='iconbox'>
					    <img src="/static/image/login_bige.jpg">
				    </div>
			    </div>
            </form>
			<input id="confirm" type="button" value="确认" onclick="register()" />
            <input id="cancel" type="button" value="取消"  />
		</div>
	</body>
</html>