<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="css/lobby.css">
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<html>
	<head>
		<title>游戏大厅</title>
	</head>

	<body>
		<header>
			<img id="headericon" src="src/image/lobby_headericon.jpg" />
			<div id="headertitle">
				<div id="title">五子棋</div>
				<div id="subtitle">10000人正在游戏中</div>
			</div>
			<div id="userinformation">
				<div id="username">滅刂龜</div>
				<div id="userscore">积分：250</div>
			</div>
		</header>
		
		<section>
			<div id="lobbyarea"></div>
			<div id="friendlist">
				<div class="listheader">好友</div>
				<table class="tablelist">
					<tr class="tableheader">
						<th width="100">昵称</th>
						<th width="32">积分</th>
						<th width="32">胜场</th>
						<th width="32">平场</th>
						<th width="32">负场</th>
					</tr>
					<tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
				</table>
			</div>
			<div id="userlist">
				<div class="listheader">房间</div>
				<table class="tablelist">
					<tr class="tableheader">
						<th width="100">昵称</th>
						<th width="32">积分</th>
						<th width="32">胜场</th>
						<th width="32">平场</th>
						<th width="32">负场</th>
					</tr>
					<tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
				</table>
			</div>
		</section>
		
		<script type="text/javascript" src="js/lobby.js"></script>
	</body>
</html>
