<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/lobby.css">
<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<html>
	<head>
		<title>游戏大厅</title>
	</head>

	<body>
		<header>
			<img id="headericon" src="/static/image/lobby_headericon.jpg" />
			<div id="headertitle">
				<div id="title">五子棋</div>
				<div id="subtitle">{{ all_user_number }}人正在游戏中</div>
			</div>
			<div id="userinformation">
				<div id="username"></div>
				<div id="userscore">积分：250</div>
			</div>
		</header>
		
		<section>
			<div id="lobbyarea">
                {% if lobby_id == 1 %}
                    {% for room in rooms %}
                    <div class="tables">
                        <div class="leftuser"></div>
                        {% if not room.game_id %}
                            <div class="table" style="background-image: url('/static/image/lobby_emptytable.jpg')"></div>
                        {% else %}
                            <div class="table" style="background-image: url('/static/image/lobby_activetable.jpg')"></div>
                        {% endif %}
                        <div class="rightuser"></div>
                        <div class="tablenumber"></div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div id="match">开始匹配</div>
                {% endif %}
            </div>
			<div id="friendlist">
				<div class="listheader">好友</div>
				<table class="tablelist">
					<tr class="tableheader">
						<th width="100">昵称</th>
						<th width="32">积分</th>
						<th width="32">胜场</th>
						<th width="32">平场</th>
						<th width="32">负场</th>
					</tr>
					<tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>
                    <tr class="tablerow">
						<td>你爸</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr class="tablerow">
						<td>你的父亲</td>
						<td>20</td>
						<td>5</td>
						<td>10</td>
						<td>0</td>
					</tr>

				</table>
			</div>
			<div id="userlist">
				<div class="listheader">房间</div>
				<table class="tablelist">
					<tr class="tableheader">
						<th width="100">昵称</th>
						<th width="32">积分</th>
						<th width="32">胜场</th>
						<th width="32">平场</th>
						<th width="32">负场</th>
					</tr>
                    {% for lobby_user in lobby_users %}
                        <tr class="tablerow">
                            <td>{{ lobby_user.name }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    {% endfor %}
				</table>
			</div>
		</section>

        <form name="into_room_form" method="POST">
            {% csrf_token %}
            {{ into_room_form }}
        </form>

        <script type="text/javascript">
            var curr_user = {{ user|safe }};
            $('#username').html(curr_user.name);
            var lobby_id = {{ lid|safe }};
        </script>
		<script type="text/javascript" src="/static/js/lobby.js" charset="UTF-8"></script>
	</body>
</html>
